# Ignore the binary and library directory first
bin/
lib/

# Also ignore build directories used on windows and unix-platforms
/win/
build/

# Ignore fbx files
deps/fbx/
deps/assimp/
.vs/

.DS_Store
**/.DS_Store

.vscode/cmake-kits.json
.vscode/ipch/
/src/graphics_test/shaders/*.h
