[submodule "deps/asio"]
	path = deps/asio
	url = https://github.com/chriskohlhoff/asio
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "data/client"]
	path = data/client
	url = https://github.com/Kyoril/mmo-data
[submodule "data/editor"]
	path = data/editor
	url = https://github.com/Kyoril/mmo-editor-data
